@font-face {
  font-family: "iconfont"; /* Project id 3237872 */
  src: url('iconfont.woff2?t=1647778792548') format('woff2'),
       url('iconfont.woff?t=1647778792548') format('woff'),
       url('iconfont.ttf?t=1647778792548') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
  content: "\e650";
}

.icon-work:before {
  content: "\e76d";
}

.icon-github:before {
  content: "\e64c";
}

.icon-mine:before {
  content: "\e6d1";
}

.icon-project:before {
  content: "\e70d";
}

.icon-education:before {
  content: "\e711";
}

.icon-skill:before {
  content: "\e770";
}

.icon-mail:before {
  content: "\e666";
}

