.light-theme {
  --main-background-color: #fff;
  --text-color: #000000d9;
  --text-color-minor: rgba(55, 53, 47, 0.6);
  --text-color-link: rgb(90, 135, 241);
}
.dark-theme {
  --main-background-color: #141414;
  --text-color: rgb(220, 220, 221);
  --text-color-minor: rgb(102, 102, 102);
  --text-color-link: rgb(181, 181, 181);
}
